name: Build Java GraalVM

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - java-graalvm/**

permissions:
  actions: read
  packages: write

concurrency:
  group: "java-graalvm-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  push:
    name: "java_${{ matrix.tag }}_graalvm"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 25
          - perf_25

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: QEMU Setup
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          file: ./java-graalvm/${{ matrix.tag }}/Dockerfile
          push: true
          tags: ghcr.io/theoparis/native-leak-profiling:java_${{ matrix.tag }}_graalvm
          cache-from: type=gha
          cache-to: type=gha,mode=max
